@page "/"
@* The "@layout EmptyLayout" directive has been removed to use the default MainLayout *@

<div class="d-flex justify-content-center align-items-center vh-100">
    <img src="https://firecrackerjoe.com/img/fcman.png" alt="FCJoe Logo" class="img-fluid" />
</div>

@code {
    // This page now uses the default MainLayout, so the navigation menu will appear.
}
