@inject IWebHostEnvironment Env
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@(Env.IsDevelopment() ? "/" : "/orders/")" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="StandOrder.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer"></HeadOutlet>
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="enterlistener.js"></script>
    <script src="localStorage.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script>
        function scrollToElement(elementId) {
          const element = document.getElementById(elementId);
          if (element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'center' });
          }
        }

        function highlightIncompleteElement(elementId) {
          const element = document.getElementById(elementId);
          if (element) {
            element.classList.add('incomplete-row');
            element.scrollIntoView({ behavior: 'smooth', block: 'center' }); // Also scroll
          }
        }

        function removeIncompleteHighlight() {
          const highlightedElements = document.querySelectorAll('.incomplete-row');
          highlightedElements.forEach(element => {
            element.classList.remove('incomplete-row');
          });
        }
    </script>
</body>

</html>
